******************************************************************************************************************************************
*                                                                                                                                        *
* DRILL TAPE SUMMARY REPORT                                                                                                              *
*                                                                                                                                        *
* C:\USERS\DATOR\ONEDRIVE\DESKTOP\2024_DIZERTATIE_BALTAG_A_FRECVENTMETRU\DISERTATIE_6_IUNIE\SCHEMA_DISERTATIE_CAPTURE_LAYOUT\SWEEP5.MAX  *
* Wed Jun 19 13:56:28 2024                                                                                                               *
*                                                                                                                                        *
******************************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       216      2        200      100                                                                                 
T2       236      80       200      100                                                                                 
T3       276      32       200      100                                                                                 
T4       315      268      200      100                                                                                 
T5       394      119      200      100                                                                                 
T6       787      3        200      100                                                                                 
