************************************************************************************
*                                                                                  *
* DRILL TAPE SUMMARY REPORT                                                        *
*                                                                                  *
* C:\USERS\STUDENT\DESKTOP\DISERTATIE_6_IUNIE\CABLAJE_DIVERSE\SCHEMA_BAZA_T-2.MAX  *
* Thu Jun 20 18:21:46 2024                                                         *
*                                                                                  *
************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       315      38       200      100                                                                                 
T2       394      10       200      100                                                                                 
